<html>
<head>
    <%# <link rel="stylesheet" type="text/css" href="css/style.css"> %>
    <title>Kontax</title>
</head>
<body>
    <div class="nav">
        <nav>
            <a href="#">Login</a>
            <a href="#">Signup</a>
        </nav>
    </div>
</body>
</html>