<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Kontax</title>
</head>
<body>

    <div class="logo">
        <h1>Konta<span>x</span></h1>
    </div>

    <div class="container">
        <div class="split left">
            <h1>Log In</h1>
        </div>
        
        <div class="split right">
            <h1>Create Account</h1>
        </div>
    </div>

    <script src="/js/log.js"></script>
</body>
</html>