<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Kontax</title>
</head>
<body>

    <div class="logo">
        <h1>Ko<span>n</span>tax</h1>
    </div>

    <div class="container">
        <div class="split left">
            <h1>Log In</h1>
            <form method="post" action="account">
                <input type="text" placeholder="Username" name="user"><br>
                <input type="password" placeholder="Password" name="pass"><br>
                <button>Sign In</button>
            </form>
        </div>
        
        <div class="split right">
            <h1>Create Account</h1>
            <form method="post" action="/newuser">
                <input type="text" placeholder="Username" name="user"><br>
                <input type="password" placeholder="Password" name="pass"><br>
                <input type="password" placeholder="Confirm Password" name="confirm"><br>
                <button>Sign In</button>
            </form>
        </div>
    </div>

    <script src="/js/log.js"></script>
</body>
</html>
