<head>
	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<title>profile</title>
</head>

<body>
	<div class="content">
		<div class="row">
			<div class="user-avi">
					<img src="/images/usericon.png">
			</div>

			<div class="user-name">
				<h2><%= username%></h2>
			</div>

			<nav>
				<h2 onclick="contactFunc()">Contacts</h2>
				<h2 id="myBtn">New Contact</h2>
			</nav>

			<div id="myModal" class="modal">
				
				<div class="modal-content">
					<span class="close">&times;</span>
					<form method="post" action="contacts">
						<input type="text" name="person" placeholder="Name" minlength="3">
						<input type="text" name="address" placeholder="Address" minlength="6">
						<input type="text" name="phone" placeholder="Phone" minlength="10">
						<input type="submit" value="Create">
					</form>
				</div>
			</div>

			<div class="footer">
				<h2>Edit Profile</h2>
				<a href="/"><h2>Sign Out</h2></a>
			</div>
		</div>

		<div class="row3">
			<header>
				<form>
					<input type="text" name="search" placeholder="Search..">
				</form>
			</header>
			<div id="display">
				<table>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Phone</th>
						<th></th>
					</tr>
					<% res_arr.each do |r|%>
				  <tr>
				    <td><%= r['names']%></td>
				    <td><%= r['address']%></td>
				    <td><%= r['phone']%></td>
				    <td id="del" style="font-size: 28px"><button id="close_btn" style="cursor: pointer;">&times;</button></td>
				  </tr>
				  <% end%>
				</table>
			</div>		
		</div>
	</div>
	
	<script src="/js/log.js"></script>
	<script src="/js/new.js"></script>
</body>