<head>
	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<title>profile</title>
</head>

<body>
	<div class="content">
		<div class="row">
			<header>
				<h1>Logo</h1>
			</header>

			<nav>
				<h2>Edit Profile</h2>
				<h2>Sign Out</h2>
			</nav>
		</div>

		<div class="row2">
			<header>
				<h3>Search</h3>
				<input type="text">
			</header>

			<nav>
				<h2>Contacts</h2>
				<h2>New Contact</h2>
			</nav>
		</div>

		<div class="row3">
			<header>
				<h2></h2>
			</header>
		</div>
	</div>
	
</body>