:root {
	--container-bg-color: #333;
	--left-bg-color: rgba(191, 1, 1, 0.8);
	--right-bg-color: rgba(17, 17, 17, 0.8);
	--hover-width: 70%;
	--other-width: 30%;
	--speed: 500ms;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand';
	width: 100%;
	height: 100%;
	overflow-y: hidden;

}

body {
	animation: fade 7s;
	background-color: #000;
}

@keyframes fade {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

.logo {
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: 'Quicksand';
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: log 6.5s;
}

@keyframes log {
	from {
		top: 0%;
	}
	to {
		top: 100%;
	}
}

.logo h1 {
	font-weight: bold;
	font-size: 10rem;
	border: 4px solid #fff;
	border-radius: 10px;
	padding: 20px;
}

span {
	color: #ff3d47;
}

h1 {
	font-size: 4rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	white-space: nowrap;
}

form {
	position: absolute;
	line-height: 15px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	font-size: 2rem;
	animation: reveal 12s;
}



@keyframes reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


form input {
	background: #fff;
	outline: none;
	border-radius: 10px;
	margin: 5px;
	border: none;
	padding: 5px;
}

button {
	color: #fff;
	margin-top: 15px;
	border: 2px solid #fff;
	border-radius: 5px;
	text-align: center;
	outline: none;
	background: transparent;
	padding: 5px 15px;
	font-size: 1rem;
}

.button {
	display: block;
	position: absolute;
	left: 50%;
	top: 40%;
	height: 2.5rem;
	padding-top: 1.3rem;
	width: 15rem;
	text-align: center;
	color: #fff;
	border: #fff solid 0.2rem;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}

.split.left button:hover {
	background-color: var(--left-button-hover-color);
	border-color: var(--left-button-hover-color)
}

.split.right button:hover {
	background-color: var(--right-button-hover-color);
	border-color: var(--right-button-hover-color)
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--container-bg-color);
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.split.left {
	left: 0;
	background: url(/images/social3.jpg) center center no-repeat;
	background-size: cover;
}



.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}

.split.right {
	right: 0;
	background: url(/images/social.jpeg) center center no-repeat;
	background-size: cover;
}

.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
	transition: var(--speed) all ease-in-out;
}

.hover-left .left {
	width: var(--hover-width);
}

.hover-left .right {
	width: var(--other-width);
}

.hover-left .right:before {
	z-index: 2;
}

.hover-right .right {
	width: var(--hover-width);
}

.hover-right .left {
	width: var(--other-width);
}

.hover-right .left:before {
	z-index: 2;
}

@media(max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
}
