html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: #000;
}

@keyframes true {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

@keyframes long {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes short {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes moves {
	from {
		height: 0;
	}
	to {
		height: 100%;
	}
}

.content {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: 0 auto 0 auto;
	padding: 0;
	display: flex;
	font-size: 1rem;}



.row {
	font-family: 'Quicksand';
	text-align: center;
	background-color: #3c015e;
	flex: 1;
	animation: true 1s;
}

.footer {
	margin-top: 140px;
	animation: true 3s;
}

.row .footer h2 {
	cursor: pointer;
	font-weight: lighter;
	color: #fff;
	font-size: 1rem;
}

.footer h2:hover {
	color: #000;
}

.user-name h2 {
	color: #fff;
	font-size: 1.2rem;
	animation: true 3s;
	font-weight: lighter;
}

.user-avi img {
	margin-top: 50px;
	height: 30%;
	width: 30%;
	 animation: true 3s;
}

.row2 {
	position: absolute;
	top: 50%;
	/*background: linear-gradient( rgba(255, 255, 255, 1), rgba(96, 0, 153, 0.7) ), url("/images/sky.jpeg") no-repeat 50% 50%;*/
	font-family: 'Quicksand';
	text-align: center;
	background-color: rgba(250, 250, 240, 1);
	flex: 3;
	border-right: 1px solid
}



.row nav h2 {
	cursor: pointer;
	letter-spacing: 5px;
	display: block;
	color: #fff;
	border: 1px solid #3c015e;
	padding: 55px;
	margin: 50px auto 0 auto;
    width: 50%;
    border-radius: 10px;
    background: #681399;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
    animation: true 3s;

}

@keyframes {
	to {
		width: 0%;
	}
	from {
		width: 100%;
	}
}

.ac {
	color: green;
	font-family: 'Quicksand';
}

.row nav h2:hover {
	color: #000;
}

.row3 {
	text-align: center;
	font-family: 'Quicksand';
	background-color: rgba(10, 10, 10, 1);
	flex: 5;
}


table {
	position: relative;
	border-collapse: collapse;
	margin: 40px auto 0 auto;
	color: #fff;
    font-family: 'Quicksand';
    width: 75%;
}

td, th {
	line-height: 40px;
	padding: 10px;
	font-family: 'Quicksand';
    text-align: left;
}

tr:nth-child(even) {
	color: #fff;
    background-color: #681399;
}

.row3 form input[type=text] {
	color: #fff;
	outline: none;
	margin-top: 40px;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid #780ab2;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;

}

.row3 form input[type=text]:focus {
    width: 35%;
    background-color: rgba(255,255,255, 0.1);
}

.row3 input::placeholder {
	color: #fff;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 2rem;
    border: 1px solid #888;
    width: 40%; 
    height: 50%;
}



.close {
	margin-top: 0;
    color: #aaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.modal-content input[type=text] {
	width: 100%;
	display: block;
	margin-top: 1rem;
	outline: none;
	border: 1px solid #681399;
	line-height: 0.4rem;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 2rem;

}

.modal-content input[type=number] {
	width: 100%;
	display: block;
	margin-top: 1rem;
	outline: none;
	border: 1px solid #681399;
	line-height: 0.4rem;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 2rem;

}


.modal-content input[type=submit] {
	outline: none;
	border: 1px solid #000;
	background: #681399;
	color: #fff;
	font-size: 2rem;
	font-family: 'Quicksand';
	margin-top: 15px;
}

.modal-content input[type=submit]:hover {
	background-color: #681377;
}

@media(max-height: 700px) {
	.footer {
		margin-top: 20px;
		animation: true 3s;
	}

	.row nav h2 {
		cursor: pointer;
		letter-spacing: 5px;
		display: block;
		color: #fff;
		border: 1px solid #3c015e;
		padding: 55px;
		margin: 40px auto 0 auto;
	    width: 50%;
	    border-radius: 10px;
	    background: #681399;
	    box-shadow: 0 10px 20px rgba(0,0,0, 0.1);
	    animation: true 3s;
	}
}